html, body {
    width:  100%;
    height: 100%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}    
.container {
    color: white;
    width: cover;
    height: cover;
    background: linear-gradient(60deg, #f6d365 0%, #fda085 100%);
}
.contact-container {
    margin: auto;
    padding: 50px;
    text-align: center; 
    height: 100%;
    width: 70%;
}
#contact-details {
    color: #ffffff
}
.contact-list {
    margin: auto;
}
#contact-card {
    margin: 20px;
    width: 200px;
    height: 250px;
    border-radius: 25px;
    background-color:rgba(246,211,101,.4);
    text-align: left;
    padding: 10px;
    box-shadow: 2px 2px 5px gray;
}
.content {
    opacity: 1 !important;
    color: white;
}

/* This is an example of a CLASS style */
.contact-list ul {
    list-style: none;
}
.contact-list ul li {
    display: inline-block;
}

.new-contact-form {
    width: 400px !important;
    text-align: left;
}
/* This is an example of an ID style */
#julie {
    color: red;
}

#show-div {
    width: 400px;
    margin: auto;
}

ul li {
    display: inline;
}

i {
    font-size: 25px;
    float: left;
    padding-right: 10px;
}